body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#d3caca6b;  
    font-family: 'Arial';  
    

}  
.login-form{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #68686857;  
        border-radius: 15px ; 
}
          
 
h1{  
    text-align: center;  
    color: #424242;  
    padding: 2px;  
    font-family: sans-serif;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.055); 
}  
.login-form-group{  
    color: #ffffff;  
    font-size: 17px;
    padding: 5px;  
    font-family: sans-serif;
}  
     
.form-filed{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
    background-color:white;
    color:black;
    border-radius:10px 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.198); 
}    
.button{  
    width: 100px;  
    height: 30px;    
    color: white;  
    font-size: 17px;   
    background-color: rgb(85, 124, 156); 
    text-align: center;  
   border-radius:10px 10px;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.198); 
  
}  button:hover {
    background-color: rgb(40, 40, 44);
  }
  .space{
      padding: 10px;
  }
  .form-error{
      color: white;
      font-family: sans-serif;
      padding:  10px 10px 10px;

  }