.App{
width:100vw;
height:100vh;
display: flex;

}
body{
 margin: 0;
margin-top:0;
 padding: 0;


}
.menulateral{
    height:100%;
    width:200px;
    background-color:#2F4050;
}
.menulista{
    padding:0;
    height:auto;
    width:100%;
    
}
.menulista .row{
    width:100%;
    height: 60px;
    border: 1px solid black;
    list-style-type: none;
    margin:0;
    display: flex;
    flex-direction: row;
    color:white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.menulista .row:hover{
    cursor: pointer;
    background-color: #293846;
    
}
.menulista .row #active{
    background-color: #293846;
}

.row #icon{
    flex: 30%;
    display:grid;
    place-items: center;
}
.row #title{
    flex: 70%;
}
